table{width: 100%;
}
table, th, td {
    
    border-collapse: collapse;
  }
  .mat-mdc-form-field {
    width: 100%;
  }
  mat-form-field {
    margin-right: 12px;
  }
  h1{
    font-weight: bold;
    color: #6c757d;
  }