<!-- <br />
<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button color="Accent" routerLink="/createMember">
    <mat-icon>add</mat-icon>Create New
  </button>
</div>
<br />

<mat-form-field appearance="standard">
 
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="cin">
    <th mat-header-cell *matHeaderCellDef>CIN</th>
    <td mat-cell *matCellDef="let element">{{ element.cin }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let element">{{ element.nom }} {{ element.prenom }}</td>
  </ng-container>
  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef>createdDate</th>
    <td mat-cell *matCellDef="let element">{{element.date | date:'longDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="cv">
    <th mat-header-cell *matHeaderCellDef>CV</th>
    <td mat-cell *matCellDef="let element">
      <a href="{{ element.cv }}"> <mat-icon>picture_as_pdf</mat-icon></a>
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>TYPE</th>
    <td mat-cell *matCellDef="let element">{{ element.grade ? element.grade : element.diplome}}</td>
  </ng-container>
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button
      matTooltip="edit member {{ element.nom }} {{ element.prenom }}"
      routerLink="{{ element.id }}/edit">
        <mat-icon> edit</mat-icon>
      </button>
      <button 
      mat-raised-button
      matTooltip="delete  member {{ element.nom }} {{ element.prenom }} "
      (click)="deleteMember(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button
      mat-raised-button
      matTooltip="consult details member {{ element.nom }} {{ element.prenom }}"
       (click)="detailsMember(element.id)">
        <mat-icon>zoom_in</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->
<mat-card >
<app-teachers></app-teachers>
<app-etudiants></app-etudiants>
</mat-card>
