table{width: 100%;
}
table, th, td {
    
    border-collapse: collapse;
  }
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

/* .mat-form-field {
  font-size: 14px;
  width: 100%;
} */